{% load verbatim %}
<!DOCTYPE HTML>
<html ng-app="Redwood">
	<head>
		<title>Finish</title>

		<script type="text/javascript" src="{{ STATIC_URL }}framework/js/lib/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}framework/js/lib/bootstrap/bootstrap-3.1.1.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}framework/js/lib/angular/angular-1.2.16.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}framework/js/redwoodCore.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}framework/js/redwoodHelpers.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}framework/js/redwoodSubject.js"></script>
		<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}framework/css/bootstrap-3.1.1.min.css"></link>
		<script type="text/javascript">
			{{ js }}
		</script>
		<style type="text/css">
			{{ css }}
		</style>
	</head>
{% verbatim %}
	<body ng-controller="SubjectCtrl">

		<div class="navbar navbar-fixed-top container">
			<div class="navbar navbar-default" style="margin-bottom: 0;">
				<div class="navbar-brand" href="#">Economics Experiment</div>
				<ul class="nav navbar-nav">
					<li class="active">
						<a>User ID: <span>{{ $root.user_id }}</span></a>
					</li>
				</ul>
			</div>
		</div>

		<div id="questionnaire" class="container">
			<div class="row">
				<div class="col-lg-12 instruction" style="margin-top: 50px; padding:50px;">
					<form>
						<p> You are free to answer any and all of the following questions :</p>
						<fieldset>
							<span class="question">Age: </span>
							<input class="answer" id="age" type="text" value="" />
							<span class="msg" id="m0"></span>
						</fieldset>
						<fieldset>
							<span class="question">Student: </span>
							<select class="answer" id="student">
								<option>No Answer</option>
								<option>Yes</option>
								<option>No</option>
							</select>
							<span class="msg" id="m1"></span>
						</fieldset>
						<fieldset>
							<span class="question">Field of Study: </span>
							<input class="answer" id="fieldofstudy" type="text" value="" />
							<span class="msg" id="m2"></span>
						</fieldset>
						<fieldset>
							<span class="question">Gender: </span>
							<input class="answer" id="gender" type="text" value=""/>
							<span class="msg" id="m3"></span>
						</fieldset>
						<button class="btn btn-success" ng-click="submitquestionnaire()">Submit</button>
					</form>
 				</div>
			</div>
		</div>

		<div id="payoff" class="container" style="margin-top: 45px;" hidden>
			<table class="table table-bordered table-condensed">
				<thead>
					<tr><th>Period</th><th>Points</th></tr>
				</thead>
				<tbody id="results">
					<tr class="warning">
						<td>Average:</td><td>{{ ($root.totalPoints / ($root.period - 1) || 0) | number:2 }}</td>
					</tr>
					<tr class="warning">
						<td>Conversion Rate:</td><td>{{ (conversionRate || 0) | number:2 }}</td>
					</tr>
					<tr class="warning">
						<td>Show-Up Fee:</td><td>{{ (showUpFee || 0) | number:2 }}</td>
					</tr>
					<tr class="success">
						<td>Total:</td><td>{{ total | number:2 }}</td>
					</tr>
					<tr class="success">
						<td>Rounded Total:</td><td>{{ roundtotal  }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
{% endverbatim %}
</html>
